@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-BLACK.TTF");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-BOLD.TTF");
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: "SF PRO DISPLAYY";
    src: url("../fonts/SFPRODISPLAY-LIGHT.TTF");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-MEDIUM.TTF");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-REGULAR.TTF");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-SEMIBOLD.TTF");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-THINITALIC.TTF");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-ULTRALIGHT.TTF");
    font-weight: 200;
    font-style: normal;
}



.body {
    margin: 0;
    padding: 0;
    
}

.header-block {
    margin-top: 33px;
    margin-left: 100px;
    display: flex;
   
    
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
   
}

.nav-link-nav-link-active {
    display: flex;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #409DE2;
    padding-left: 735px;

        
}


.nav-link-nav-link-active::before {
    position: absolute;
    left: 1080px;
    right: 32.5%;
   
    bottom: 0%;
    background: #409DE2;
    content: "";
    width: 81px;
    height: 3px;
}


.nav-link {
    display: flex;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #072234;
    padding-left: 70px;

}

.nav-link-Contact {
    display: flex;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #072234;
    padding-left: 71px; 
}

.links {
    display: block;
    padding-left: 200px;
    padding-top: 15px;
   
 
}


.page-header::before {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 97.3%;
    bottom: 1.35%;
    background: #E0E0E0;
    content: "";
    width: 1720px;
    height: 1px;
  
   
}

.page-header {
    position: relative;   
}

.block-info {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
   
    
}

.export {
 margin: 100px;  
}

.text {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #8C9EAA;
    margin-bottom: 30px;
  

}
.product {
    margin: 0px;
}
.export-product {
    
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    color: #072234;
 
  
}

.highight {
    color: #409DE2
    
}

.tel {

    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #072234;
   
  

   
}


.block-tel {
    
    list-style-type: none;
    width: 100%;
    align-items: flex-end;
    padding: 200px;
    padding-bottom: 20px;
   
  

  
}

.nav-tel {
   
  
    list-style-type: none;
    width: 100%;
    align-items: flex-end;
    margin-left: 250px;
  
}


.acguaintance {
    margin-left: 100px;
    margin-right: 100px;
    
   
}

.about {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 90%;
    color: #072234;
    margin: 0 auto;
    float: left;
    
  

    

}

.heading {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #072234;
    padding-left: 810px;
    margin-top: 210px;
    width: 1020px;
      
    
}

.indent {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #072234;
    padding-left: 810px;
    padding-bottom: 30px;
    width: 1020px;
}

.line {
    height: 1px;
    margin-left: 810px;
    width: 1020px; 
}


.paragraph {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #072234;
    padding-left: 810px;
    width: 1020px;
    height: 136px;
}

.cargo {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  
}

.big-photo {
    width: 707px;
    height: 560px;
    padding-right: 150px;
}

.photo-average {
    width: 487px;
    height: 525px;
    padding-right: 165px;  
}

.small-photo {
    width: 320px;
    height: 288,59px;  
}

.assortiment {
    background: #F1F3F4; 
    background-image: url(../img/WIDELAND.svg);
    background-repeat: no-repeat;
    background-position: bottom 80px  left 100px;
    margin-top: 200px;
    height: 1102px;
    font-size: 288px;
   

}


.heading-assortiment {
    display: flex;
    align-items: center;
    justify-content: space-between;

   
  
    
}

.title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 90%;
    color: #072234;
    padding-left: 100px;
    padding-top: 207px;


}

.about-products {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #072234;
    padding-left: 240px;
    padding-top: 207px;
   
    width: 690px;
    height: 66px;
  

}

.switching-left {
   
    background: #409DE2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid  #409DE2;  
   
}

.switching {
   
    background: #409DE2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid  #409DE2;
   
}

.button {
    padding-right: 80px;
    

}

.production-first {
    width: 500px;
    height: 540px;
    left: 988px;
    top: 2901px;    
}

.production {
    width: 493px;
    height: 600px;
}

.photo {
    display: flex;
    position: absolute;
    left: 810px;
  
    
}