@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-BLACK.TTF");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-BOLD.TTF");
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: "SF PRO DISPLAYY";
    src: url("../fonts/SFPRODISPLAY-LIGHT.TTF");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-MEDIUM.TTF");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-REGULAR.TTF");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-SEMIBOLD.TTF");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-THINITALIC.TTF");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "SF PRO DISPLAY";
    src: url("../fonts/SFPRODISPLAY-ULTRALIGHT.TTF");
    font-weight: 200;
    font-style: normal;
}



.body {
    margin: 0;
    padding: 0;
    
}

.header-block {
    margin-top: 33px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
   
}

.nav-link-nav-link-active {
    display: flex;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #409DE2;
    padding-left: 876px;

        
}


.nav-link-nav-link-active::before {
    position: absolute;
    left: 62.79%;
    right: 32.5%;
   
    bottom: 0%;
    background: #409DE2;
    content: "";
    width: 81px;
    height: 3px;
}


.nav-link {
    display: flex;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #072234;
    padding-left: 70px;

}

.nav-link-Contact {
    display: flex;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #072234;
    padding-left: 71px; 
}

.links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    left: 100px;
    top: 33px;
    width: 20px;
    height: 20px;
    padding-left: 200px;
    padding-top: 23px;


}


.page-header::before {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 97.3%;
    bottom: 1.35%;
    background: #E0E0E0;
    content: "";
    width: 1720px;
    height: 1px;
  
   
}

.page-header {
    position: relative;   
}

.block-info {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
   
    
}

.export {
    margin-left: 100px;
    margin-right: 100px;  
}

.text {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #8C9EAA;
    margin-top: 85px;
  

}

.export-product {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    color: #072234;
 
  
}

.highight {
    color: #409DE2
    
}

.tel {

    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #072234;
   
  

   
}


.block-tel {
    
    list-style-type: none;
    width: 100%;
    align-items: flex-end;
  

  
}

.nav-tel {
    padding-left: 596px;
    padding-bottom: 5px;
    list-style-type: none;
    width: 100%;
    align-items: flex-end;

  
}

.photo-header {
    width: 1720px;
height: 965px;
left: 100px;
top: 456px;
width: 1178px;
height: 1720px;
}