<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header class="page-header">
        <div class="header-block">
            <a class="logo" href="#">
                <img src="./logo-export.png" alt="logo-export">
            </a>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-element">
                        <a class="nav-link nav-link-active" href="#">
                             Assortment
                        </a>
                 </li>
                    <li class="nav-element">
                        <a class="nav-link" href="#">
                            News
                        </a>
                 </li>
                    <li class="nav-element">
                        <a class="nav-link" href="#">
                            Contact
                        </a>
                </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <p class="text-title">
            Named TOP-5 regions 
            in terms of the yield of major crops
        </p>
        <p class="text-description">
            As of December 10, Ukrainian agricultural producers have already harvested 82.7 million tons of staple crops from an area 
            of almost 24 million hectares, of which grain and leguminous crops account for 64.3 million tons (15.2 million hectares, 99%). 
            This is evidenced by the data of the project «Harvest Online 2020».
        </p>
        <div class="picture">
            <img src="./harvest.jpg" alt="harvest">
        </div>
        <p class="data">
            The harvesting campaign is still going on in Ukraine
        </p>
        <p class="information">
            Corn — 28.8 million tons from an area of 5.3 million hectares (98%) with an average yield of 5.41 tons / ha. In addition,
            9.15 million tons of sugar beet were dug up on an area of 215.5 thousand hectares (100%) with an average yield of 42.35 tons / ha.
        </p>
        <p class="info-info">
            The farmers have already completed the cleaning
        </p>
       






    </main>
</body>
</html>